<h1>Forgot your Passwod</h1>

<%= form_with url: password_reset_path, data: {turbo: false} do |form| %>
  <div class="mb-3">
    <%= form.label :mail %>
    <%= form.text_field :email, class: "form-control", placeholder: "test@test.com" %>
  </div>
  <div class="mb-3">
    <%= form.submit "Reset password", class: "btn btn-primary" %>
  </div>
<% end %>